.blogs{
  margin-top: 0%;
    background-image: url('./assets/blogs-background-image.png');
  text-align: center;
  background-size: contain;
  height: 600px;
  width: 1000px;
  text-align:center;
  border-radius: 0px;
  color:ivory;
}
.home{
  height: 600px;
  width: 1000px;
  text-align: center;
  background-image: url('./assets/new-background-image.png');
  background-size: contain;
  text-align:center;
  color:ivory;
}
.about{
  height: 600px;
  width: 1000px;
  text-align: center;
  background-image: url('./assets/about-background-image.png');
  background-size: contain;
  text-align:center;
  color:ivory;
}
.comet :nth-child(1){
    position: absolute;
    offset-rotate: 100;
    width: 10%;
    height: 5%;
    top: 100px;
    left: 1020px;
    animation: cometRide;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    animation-timing-function: linear;
    animation-delay: 0.5s;
}
.spaceship :nth-child(1){
  position: absolute;
  top: 500px;
  width: 10%;
  height: 30%;
  animation-name: spaceLaunch;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.satelite :nth-child(1){
      position: absolute;
      width: 10%;
      height: 10%;
      top: 350px;
      left: 650px;
      animation-name: sateliteHover;
      animation-duration: 3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
}
.satelite :nth-child(2){
      position: absolute;
      width: 15%;
      height: 15%;
      top: 100px;
      left: 520px;
      animation-name: sateliteHover;
      animation-duration: 3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
}
.satelite :nth-child(3){
      position: absolute;
      width: 25%;
      height: 25%;
      top: 100px;
      left: 220px;
      animation-name: sateliteHover;
      animation-duration: 3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
}
.star-img {
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(1){
  position: absolute;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(2){
  position: absolute;
  top: 130px;
  left: 710px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(3){
  position: absolute;
  top: 120px;
  left: 100px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(4){
  position: absolute;
  top: 120px;
  left: 300px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(5){
  position: absolute;
  top: 220px;
  left: 450px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(6){
  position: absolute;
  top: 130px;
  left: 710px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(7){
  position: absolute;
  top: 130px;
  left: 710px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(8){
  position: absolute;
  top: 130px;
  left: 710px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(9){
  position: absolute;
  top: 130px;
  left: 610px;
  height: 3px;
  width: 3px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(10){
  position: absolute;
  top: 230px;
  left: 100px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(11){
  position: absolute;
  top: 150px;
  left: 10px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(12){
  position: absolute;
  top: 130px;
  left: 0px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(13){
  position: absolute;
  top: 200px;
  left: 810px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(14){
  position: absolute;
  top: 130px;
  left: 710px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(15){
  position: absolute;
  top: 110px;
  left: 720px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(16){
  position: absolute;
  top: 180px;
  left: 610px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.star :nth-child(17){
  position: absolute;
  top: 230px;
  left: 810px;
  height: 2px;
  width: 2px;
  animation-name: starTwinkle;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.sailboat :nth-child(1) {
  height: 60px;
  width: 40px;
  position: absolute;
  top: 330px;
  left: 450px;
  animation-delay: 0.5s;
  animation-name: sailAway;
  animation-duration: 50s;
  animation-direction: reverse;
}
.sailboat :nth-child(2){
  height: 40px;
  width: 30px;
  position: absolute;
  top: 345px;
  left: 10px;
  animation-name: sailAway;
  animation-duration: 120s;
}
.sailboat :nth-child(3){
  height: 80px;
  width: 60px;
  position: absolute;
  top: 320px;
  left: 10px;
  animation-name: sailAway;
  animation-duration: 80s;
}
.videos{
  height: 600px;
  width: 1000px;
  text-align: center;
  background-image: url('./assets/videos-background-image.png');
  background-size: contain;
  text-align:center;
  color:ivory;
}
.projects{
  height: 600px;
  width: 1000px;
  text-align: center;
  background-image: url('./assets/projects-background-image.png');
  background-size: contain;
  text-align:center;
  color:ivory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
  width: 1000px;}

.topnav {
  background-color: #333;
  overflow: hidden;
}

ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.black-text{
  color: black;
}

.animated-text{
  position: absolute;
  top: 100px;
  left: 90px;
  animation-name: fadeAndScale;
  animation-duration: 2s;
}
.animated-text:nth-child(2){
  position: absolute;
  top: 150px;
  left: 90px;
  animation-name: fadeAndScale;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.blogs-animated-text{
  position: absolute;
  top: 100px;
  left: 90px;
  font-size: 50px;
  animation-name: fadeAndScale;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes fadeAndScale{
  from {
    opacity: 0;
    /* transform: scale3d(); */
  }
  to {
    opacity: 1;
  }
}

@keyframes sailAway{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(500px);
  }
}

@keyframes starTwinkle{
  from{
    opacity: 0;
    transform: scale3d(0);
  }
  to{
    opacity: 1;
  transform: scale3d(1);
  }
}

@keyframes cometRide{
from{
transform: translate(300px, -50px);
}
to{
transform: translate(-1400px, 200px);
}
}
@keyframes sateliteHover{
from{
transform: translate(0, 0) rotateX(0deg);
}
to{
transform: translate(15px, 14px) rotateX(30deg);
}
}
@keyframes spaceLaunch{
from{
transform: translate(0, 0) rotateX(0deg);
}
to{
transform: translate(-60px, -700px) rotateX(5deg);
}
}

